

#brands-content {
    .col.col-lg-3:nth-child(7),
    .col.col-lg-3:nth-child(8) {
        @include media-breakpoint-only(md) {
            display: none;
        }
    }


    .card {
        margin-bottom: 24px;

        img {
          max-width: 265px;
        }
        @include media-breakpoint-down(sm) {}

        a {
            text-decoration: none;
            color: $body-color;
            line-height: 114px;
            padding: 1rem;
            text-align: center;
        }

        .card-footer {
            padding: 1.1rem 0.75rem 0 0;
            margin-top: 1rem;
        }
    }

    .card-deck {
        margin-bottom: 20px;
    }
}
