footer {
    background-color: theme-color("primary");
    padding: 15px 0 0;
    overflow: hidden;
    @include media-breakpoint-up(sm) {
        padding: 49px 0 55px;
    }
    color: white;

    a {
        color: white !important;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: #005480 !important;
        }
    }

    .nav-link {
        padding: 0.1rem 0;
    }

    i {
        margin-right: 10px;

        &:before {
            font-size: 30px;
        }
    }

    #footer-accordion {
        .card {
            background: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #63a5c6;

            &:first-child {
                border-top: 1px solid #63a5c6;
            }

            .card-header {
                background-color: transparent;
                padding-left: 0;
                border: none;

                .btn-link {
                    color: #fff;
                    padding-left: 0;
                    text-decoration: none;

                    i {
                        transition: 0.3s transform ease-in-out;
                        display: inline-block;
                        transform: rotate(90deg) translateX(8px);

                        &::before {
                            font-size: 0.9rem;
                            margin-right: 15px;
                            color: #fff;
                        }
                    }

                    &.collapsed {
                        i {
                            transform: rotate(0) translateY(0);
                        }
                    }
                }
            }

            .card-body {
                padding-top: 0;
                padding-left: 40px;

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}
