#search-sorting {
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #585858;
    padding: 10px 14px;
    background-color: #f4f9fc;

    @include media-breakpoint-down(sm) {
        margin-top: 0 !important;
    }

    select {
        display: inline-block;
        min-width: 15px;
        height: 32px;
        cursor: pointer;
        padding-bottom: 4px;
    }

    #sorting-search-result {
        /*color: theme-color("primary");*/
        padding-right: 31px;
        background: #fff url("../assets/images/selectIndicator.svg") no-repeat right 0.75rem center;
        background-clip: padding-box;
        background-size: 12px 12px;
        text-align-last: left;
        vertical-align: middle;
        width: calc(100% - 87px);
    }

    #sorting-search-pagingsize {
        border-radius: $border-radius;
    }
}
