@import "components/_fixed_button_box";

#uitgebreid-zoeken {
    #algemeen-accordion .col-12 .card {
        @include media-breakpoint-up(lg) {
            min-height: 528px;
        }
    }

    .alert {
        color: #e74c3c;
        border-color: #e74c3c;
        background-color: #fff;
        padding-right: 60px;
        position: absolute;
        font-size: 13px;
        margin-bottom: 0;
        bottom: 71px;
        right: 11px;
        text-align: left;
        @include media-breakpoint-down(sm) {
            position: fixed;
            left: 0;
            width: 100%;
            bottom: 76px;
        }

        ul {
            padding-left: 12px;
            margin-top: 13px;
            margin-bottom: 3px;
        }

        &.sticky-alert {
            position: fixed;
            bottom: 49px;
            z-index: 999;
            width: 226px;
            @include media-breakpoint-down(md) {
                width: 100%;
                left: 0;
            }
        }

        &::before {
            content: '\e92b';
            font-family: Botenbank;
            position: absolute;
            right: 8px;
            top: calc(50% - 22px);
            font-size: 30px;
        }
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .collapsible-tab {
        a {
            font-weight: normal;
            font-size: 17px;
            outline: 0;
        }
    }

    .category {
        height: 100px;
        border: 1px solid $border-color;
        overflow: hidden;
        text-align: center;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        .category-title {
            font-size: 0.8125rem;
            padding-top: 10px;
        }

        .icon {
            font-size: 2rem;
            padding-top: 17px;
        }
        @include media-breakpoint-down(md) {
            height: 142px;

            .category-title {
                font-size: 15px;
            }

            .icon {
                font-size: 3rem;
            }
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }

        input {
            display: none;
        }

        &.active {
            border: 1px solid theme-color("primary");
            background-color: $blue-lighter;
        }

        &:hover {
            border: 1px solid theme-color("primary");
            cursor: pointer;
        }
    }

    .select-group-addon {
        padding-left: 15px;
        padding-right: 0;
        background: none;
        color: $gray-600;
    }

    #bouwjaarmax,
    #bouwjaarmin,
    .price-select {
        border-left: none;
    }

    .btn-link {
        font-weight: bold;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }


    @include media-breakpoint-down(sm) {
        .form-group.col-12.col-md-6:nth-child(2) .col-form-label[for="inputGewicht"] {
            display: none;
        }
    }
}
